.foldercard {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 7px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    box-shadow: 2px 2px ;

   }
   
   .foldercard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
   }
   
   .folder-name {
    font-family: 'Ubuntu',sans-serif;
    margin-bottom: 10px;
    text-align: left;
   }
   
   .description {
    margin-bottom: -10px;
    font-size: 14px;
    font-family: 'Ubuntu',sans-serif;
    text-align: left;
   }
   
   .author {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Ubuntu',sans-serif;
    text-align: right;
   }
   
   .num-files {
    margin-bottom: 10px;
   }
   
   .files {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    color:  #BBDF4D;
    font-size: 20px;
    font-family: 'Ubuntu',sans-serif;
    text-align: left;
    text-decoration: none;
   }
   .file-name{
    color:  #BBDF4D;
    
   }
   .file-name:hover{
    color: #fcfdfc;
   }
   .button{
    background-color: #000000;
    float: right;
   }
   .Top{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

.Center{
display: flex;
flex-direction: column;
 justify-content: center;
 align-items: center;
}

.acc{
    background-color: #000000; /* Green */
    border: 2px solid #BBDF4D; /* Green */
    color: #BBDF4D;
    text-align: center;
    padding: 4px 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 4px;
}
.acc:hover{
    background-color:  #BBDF4D;
    color: #000000;
}
.file-link {
    text-decoration: none; /* This removes the underline */
  }
.search-bar{
    background-color: #ffffff;
    border-radius: 10px ;
    margin: 10px;
    width: 400px;
    text-align: center;
    border: 2px;
    border-color: #BBDF4D;
    height: 30px;
}
  
